@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model onlineExamApp.ViewModel.ResetPasswordViewModel

@{
    ViewData["Title"] = Localizer["ResetPassword"];
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class="account-container">
    <div class="account-box shadow-sm">
        <h2 class="account-title">@Localizer["ResetPassword"]</h2>

        <form asp-action="ResetPassword" method="post" novalidate>
            @Html.AntiForgeryToken()
            <input type="hidden" asp-for="Token" />
            <input type="hidden" asp-for="Email" />

            <label asp-for="Password" class="form-label">@Localizer["NewPassword"]</label>
            <input asp-for="Password" type="password" class="form-control" placeholder="@Localizer["NewPassword"]" />
            <span asp-validation-for="Password" class="text-danger"></span>

            <label asp-for="ConfirmPassword" class="form-label mt-3">@Localizer["ConfirmNewPassword"]</label>
            <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="@Localizer["ConfirmNewPassword"]" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

            <button type="submit" class="btn btn-success w-100 btn-lg mt-4">@Localizer["ResetPassword"]</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

