@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["EducatorDashboard"];
}

<head>
    <link rel="stylesheet" href="~/css/page.css" asp-append-version="true" />
</head>

<div class="container mt-5">
    <div class="text-center">
        <h1 class="mb-4 display-4 fw-bold">@Localizer["WelcomeEducatorTitle"]</h1>
        <p class="lead">
            @Localizer["WelcomeEducatorText"]
        </p>
    </div>

    <div class="row justify-content-center mt-5">
        <div class="col-md-6 mb-4">
            <div class="card h-100 border-0 shadow-lg p-4">
                <h4 class="card-title mb-3 text-center">@Localizer["TipsTitle"]</h4>
                <ul class="tip-list text-muted">
                    <li>@Localizer["Tip1"]</li>
                    <li>@Localizer["Tip2"]</li>
                    <li>@Localizer["Tip3"]</li>
                    <li>@Localizer["Tip4"]</li>
                </ul>


                <div class="d-grid mt-4">
                    <a href="/Exams/Create" class="btn btn-success btn-lg mb-3">➕@Localizer["CreateNewExam"]</a>
                    <a href="/Exams/MyExams" class="btn btn-outline-success btn-lg">📚@Localizer["ViewMyExams"]</a>
                </div>
            </div>
        </div>
    </div>

    <div class="text-center mt-5">
        <p class="fst-italic text-muted">
            @Localizer["EducatorQuote"]
        </p>
    </div>
</div>






